.journal-add {
  padding: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 600;
  line-height: 20.11px;
  text-align: left;
  margin-bottom: 30px;
}
